:root {
  --mainPurple: #58157c;
  --lightPurple: #9c27b0;
  --darkPurple: #4a148c;
}
@font-face {
  font-family: yellowtail;
  src: url(resources/yellowtail.ttf);
}

.nav-title {
  font-family: yellowtail;
}
